* {
  box-sizing: border-box;
}

.calc {
  margin: 50px auto;
  width: 300px;
  height: 500px;
  border: 1px solid #000;
  border-radius: 20px;
  background: #000;
  color: #fdfdfd;
  font-family: "Times New Roman", Times, serif;
  padding: 18px;
  box-shadow: 4px 4px 4px #a6a6a6;
}

.calc__screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 125px;
  margin-bottom: 20px;
}
.calc__screen p {
  font-size: 4rem;
  margin: 0;
}

.calc-box__buttons {
  display: flex;
  justify-content: space-evenly;
}

.buttons {
  display: inline-block;
  text-align: center;
  width: 60px;
  height: 60px;
  margin-bottom: 5px;
  border-radius: 50px;
  color: #fdfdfd;
  font-size: 20px;
  border: none;
}
.buttons:active {
  transform: scale(0.9);
}

.btn-grey {
  background: #a6a6a6;
}

.btn-orange {
  background: #ff9501;
}

.btn-black {
  background: #333;
}

.btn_null {
  width: 120px;
}